body {
	font-family: Roboto;

	display: flex;
	flex-direction: column;
}

.header {
	background-color: #1f2937;
	font-size: 24px;
	color: #f9faf8;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 48px;
}
.header a {
	font-size: 18px;
	color: #e5e7eb;
	text-decoration: none;
	padding: 12px;
}

.hero {
	background-color: #1f2937;
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;

	width: 100%;

	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 32px;
	gap: 48px;
}
.hero-left-container {
	/*max-width: 400px;*/
	flex: 1;
	margin: 16px;
}
.hero p {
	font-size: 20px;
	color: #e5e7eb;
	display: flex;
	flex-wrap: wrap;
	font-weight: 300;
	font-style: normal;
}
.hero img {
	flex: 1;
	/*max-width: 400px;*/
}

ul {
	list-style-type: none;

	display: flex;
	flex-direction: row;
	gap: 8px;
}

button {
	border-radius: 8px;
	background: #3882f6;
	color: #e5e7eb;
	font-size: 16px;
	font-weight: 700;
	padding: 12px;
	width: 150px;
}

/* infos*/
.information {
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 48px;
}
.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	font-size: 16px;
	font-weight: 300;

	padding: 32px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.card img {
	border: 5px solid #3882f6;
	border-radius: 16px;
}

/* inspiring quote part */
.signature {
	display: flex;
	justify-content: flex-end;
	font-size: 28px;
	font-weight: bold;
	font-style: normal;
}
.inspiring-quote {
	background-color: #e5e7eb;
	font-size: 36px;
	font-weight: 300; /*light*/
	font-style: italic;
	color: #1f2937;

	align-text: center;
	padding: 48px;
}

/* call to action */

.call-to-action {
	background-color: #3882f6;
	color: #e5e7eb;
	font-size: 16px;
	font-weight: 700;
	padding: 12px;
	margin: 100px;

	display: flex;
	justify-content: space-around;
}
.call-to-action p {
	padding: 0;
	margin: 0;
}

.footer {
	background-color: #1f2937;
	color: #f9faf8;
}
/*
a {
	text-decoration: none;
	color: gray;
}
    */
