body {
	font-family: Roboto;
}

.header {
	background-color: #1f2937;
	font-size: 24px;
	color: #f9faf8;
}

.header a {
	font-size: 18px;
	color: #e5e7eb;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

button {
	font-family: Roboto, sans-serif;
	border: none;
	border-radius: 8px;
	background: #eee;
	font-weight: bold;
}
/*
a {
	text-decoration: none;
	color: gray;
}
    */
